/**
 * 1chan.ru, teh anonymous.
 */
html {
	margin: 0;
	padding: 0;
}

body {
	background: #303e58;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans;
	font-size: 17px;
	color: #40454b;
}

a:link, a:visited {
	color: orange;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
	text-decoration: none;
}

input[type=text], textarea {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
}

input[type=text]:hover, textarea:hover {
    border: 1px solid #40454b;
}

input[type="submit"], input[type="button"] {
    font-size: 13px;
    padding: 2px 5px;
    background-color: #2daebf;
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	 border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
input[type="submit"]:hover, input[type="button"]:hover	{ background-color: #007d9a; color: #fff; }
input[type="submit"]:active, input[type="button"]:active	{ top: 1px; }

/**
 * g:
 */
a.g-dynamic:link,
a.g-dynamic:visited {
	text-decoration: none;
	border-bottom: 1px dashed #fff;
}

a.g-dynamic:hover {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

a.g-dynamic.m-current:link,
a.g-dynamic.m-current:visited {
	border-bottom: 1px dashed #fff;
	text-decoration: none;
	background: #3366cc;
	color: #fff;
}

a.g-dynamic.m-current:hover {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.g-disabled {
	color: #aaa !important;
}

.g-disabled:link,
.g-disabled:visited {
	color: #aaa !important;
}

.g-disabled:hover {
	color: #aaa !important;
}

.g-clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.g-clearfix {
	display: inline-block;
}

html[xmlns] .g-clearfix {
	display: block;
}

* html .g-clearfix {
	height: 1%;
}

.g-green {
	color: #6c6;
}

.g-red {
	color: #c66;
}

.g-bold {
	font-weight: bold;
}

.g-hidden {
	display: none;
}

.g-input-error {
	background: #fc7;
	color: #fff;
}

.g-center {
	text-align: center;
}

.g-strike, a.g-strike {
	text-decoration: line-through;
}

/**
 * l:
 */
.l-wrap {
    position: relative;
	width: 680px;
	margin: 0 auto;
}

.l-content-wrap {
	width: 100%;
	min-height: 200px;
	padding-bottom: 30px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(155, 155, 155, 0.3);
	color: #fff;
}

.l-right-panel-wrap {
    position: absolute;
    top: 150px;
    right: -195px;
    width: 160px;
	background: rgba(155, 155, 155, 0.3);
    padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.l-comments-wrap {
	width: 600px;
	margin: 0 auto;
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}

.l-static-wrap {
	margin: 50px 0 0 0;
}

.l-footer-wrap {
	position: relative;
	height: 265px;
	padding-top: 10px;
}

/**
 * b, m:
 */
.m-right {
	text-align: right;
}

.m-justify {
	text-align: justify;
}

.b-ajax-loader {
	display: none;
	position: fixed;
	top: 3px;
	left: 3px;
	padding: 0 10px;
	background: #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 2em;
	font-size: 0.7em;
	color: #fff;
}

.b-ajax-loader-error {
	display: none;
	position: fixed;
	top: 3px;
	left: 3px;
	padding: 0 10px;
	background: #FFB975;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 2em;
	font-size: 0.7em;
	color: #fff;
}

.b-image-link img {
    float: left;
	margin: 3px;
	max-width: 150px;
	padding-right: 5px;
	vertical-align: top;
}

    .b-chat_b-message .b-image-link img {
        float: none;
    }

.b-spoiler-text {
	background: #ddd;
	color: #ddd !important;
}

.b-spoiler-text:hover {
	color: #40454b !important;
}

.b-global-message-panel {
	width: 100%;
	line-height: 25px;
	font-size: 0.7em;
	background: #fefefe;
	border-bottom: 1px solid #ddd;
}

	.b-global-message-panel img {
		vertical-align: middle;
		margin: 0 3px 0 8px;
	}

.b-top-panel {
	width: 100%;
	height: 25px;
	font-size: 0.7em;
	background: rgba(155, 155, 155, 0.3);
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

	.b-top-panel ul {
		list-style: none;
		padding: 4px 0 0 10px;
		margin: 0;
	}

		.b-top-panel ul li {
			float: left;
			padding: 0 5px 0 0;
			margin: 0;
		}

		.b-top-panel ul li a.b-top-panel_b-online-link.m-disactive:link,
		.b-top-panel ul li a.b-top-panel_b-online-link.m-disactive:visited,
		.b-top-panel ul li a.b-top-panel_b-online-link.m-disactive:hover {
			opacity: .7;
		}

		.b-top-panel ul li.b-top-panel_m-right {
			float: right;
		}

.b-header-block {
	position: relative;
	width: 100%;
	padding: 15px 0;
	background: url(http://1chan.ru/img/mascot-narutaru.png) top center no-repeat;
}

	.b-header-block .b-header-block_b-logotype {
		width: 250px;
		height: 80px;
	}

	.b-header-block .b-header-block_b-stats {
		display: none;
	    background: rgba(155, 155, 155, 0.2);
		position: absolute;
		bottom: 30px; left: 395px;
		width: 285px;
		height: 50px;
		border: 1px solid #ddd;
		-webkit-border-radius: 8px 8px 8px 0;
		-moz-border-radius: 8px 8px 8px 0;
		border-radius: 8px 8px 8px 0;
	}

		.b-header-block .b-header-block_b-stats p {
			white-space: nowrap;
			font-size: 0.65em;
			padding: 0 8px;
			color: #fff;
		}

.b-links-panel {
    min-height: 150px;
    font-size: 0.7em;
}

    .b-links-panel .b-links-panel_b-title_b-close {
        font-size: 0.8em;
    }
    
    .b-links-panel .b-links-panel_b-title {
        clear: both;
    }
    
        .b-links-panel .b-links-panel_b-title h2 {
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            font-weight: normal;
            font-size: 1.5em;
            padding: 3px 0;
        }
        
   .b-links-panel .b-links-panel_b-links {
        margin: 15px 0;
   }
   
   .b-links-panel .b-links-panel_b-links .b-live-entry {
        width: 160px;
        min-height: 0;
        margin: 5px 0;
        padding: 0;
   }
   
    .b-links-panel .b-links-panel_b-footer {
        font-size: 0.8em;
    }
    
.b-blog-panel {
	width: 100%;
	margin-bottom: 15px;
}

	.b-blog-panel ul {
		width: 100%;
		list-style: none;
		padding: 0 8px;
		margin: 10px 0 0 0;
	}

		.b-blog-panel ul li {
			float: left;
			margin: 0 1px 0 0;
			padding: 0;
			line-height: 40px;
			text-align: center;
			font-size: 0.7em;
		}

			.b-blog-panel ul li img {
				vertical-align: middle;
				margin-right: 3px;
			}

			.b-blog-panel ul li a:link,
			.b-blog-panel ul li a:visited,
			.b-blog-panel ul li a:hover {
				color: #fff;
			}

			.b-blog-panel ul li a.g-dynamic:link,
			.b-blog-panel ul li a.g-dynamic:visited {
				border-bottom: 1px dashed #999;
			}

		.b-blog-panel ul li.b-blog-panel_b-add-entry {
			width: 150px;
	        background: rgba(0, 0, 0, 0.4);
			-webkit-border-radius: 20px 0 0 20px;
			-moz-border-radius: 20px 0 0 20px;
			border-radius: 20px 0 0 20px;
		}

		.b-blog-panel ul li.b-blog-panel_b-favorites {
			width: 180px;
	        background: rgba(0, 0, 0, 0.4);
		}

		.b-blog-panel ul li.b-blog-panel_b-approved {
			width: 180px;
	        background: rgba(0, 0, 0, 0.4);
		}

		.b-blog-panel ul li.b-blog-panel_b-all {
			width: 150px;
	        background: rgba(0, 0, 0, 0.4);
			-webkit-border-radius: 0 20px 20px 0;
			-moz-border-radius: 0 20px 20px 0;
			border-radius: 0 20px 20px 0;
		}

		.b-blog-panel ul li.b-blog-panel_m-active {
	        background: rgba(0, 0, 0, 0.6);
			text-shadow: 1px 1px 1px #000;
		}

			.b-blog-panel ul li.b-blog-panel_m-active a:link,
			.b-blog-panel ul li.b-blog-panel_m-active a:visited,
			.b-blog-panel ul li.b-blog-panel_m-active a:hover {
				color: #fff;
				text-decoration: none;
			}

			.b-blog-panel ul li.b-blog-panel_m-active a.g-dynamic:link,
			.b-blog-panel ul li.b-blog-panel_m-active a.g-dynamic:visited {
				border-bottom: 1px solid transparent;
			}

		.b-blog-panel ul li.b-blog-panel_b-add-entry.b-blog-panel_m-active {
	        background: rgba(0, 0, 0, 0.6);
		}

	.b-blog-panel .b-blog-panel_b-searchmenu {
		clear: left;
		float: left;
		padding: 0 15px 0 12px;
		margin: 1px 0 0 20px;
		line-height: 23px;
		font-size: 0.65em;
		text-align: center;
	}

		.b-blog-panel .b-blog-panel_b-searchmenu img {
			vertical-align: middle;
		}
		.b-blog-panel .b-blog-panel_b-searchmenu a:link,
		.b-blog-panel .b-blog-panel_b-searchmenu a:visited,
		.b-blog-panel .b-blog-panel_b-searchmenu a:hover {
			color: #fff;
		}

	.b-blog-panel .b-blog-panel_b-submenu {
		clear: right;
		float: right;
		width: 220px;
		padding: 0 20px;
		margin: 1px 30px 0 0;
		line-height: 23px;
		font-size: 0.65em;
		text-align: center;
	    background: rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
	}

		.b-blog-panel .b-blog-panel_b-submenu img {
			vertical-align: middle;
			margin-right: 3px;
		}

.b-blog-entry {
	width: 600px;
	margin: 0 auto 10px auto;
	padding: 2px 1px 10px 1px;
}

	.b-blog-entry .b-blog-entry_b-header {
		font-size: 0.9em;
		text-indent: -22px;
	}

		.b-blog-entry .b-blog-entry_b-header img {
			vertical-align: middle;
		}

		.b-blog-entry .b-blog-entry_b-header a:link,
		.b-blog-entry .b-blog-entry_b-header a:visited {
			color: #fff;
			text-shadow: 1px 1px 0px #444;
			text-decoration: underline;
			vertical-align: middle;
		}

		.b-blog-entry .b-blog-entry_b-header a:hover {
			text-decoration: none;
		}

		.b-blog-entry .b-blog-entry_b-header a.b-blog-entry_b-header_m-category {
			color: #fff;
			text-shadow: 1px 1px 0px #444;
		}


	.b-blog-entry .b-blog-entry_b-body {
		font-size: 0.75em;
		line-height: 1.3em;
		color: #fff;
	}

		.b-blog-entry .b-blog-entry_b-body h1 {
			font-size: 1.3em;
			font-weight: normal;
		}

		.b-blog-entry .b-blog-entry_b-body h2 {
			font-size: 1.25em;
			font-weight: normal;
		}

		.b-blog-entry .b-blog-entry_b-body h3 {
			font-size: 1.2em;
			font-weight: normal;
		}

		.b-blog-entry .b-blog-entry_b-body h4 {
			font-size: 1.15em;
			font-weight: normal;
		}

		.b-blog-entry .b-blog-entry_b-body h5 {
			font-size: 1.1em;
			font-weight: normal;
		}

		.b-blog-entry .b-blog-entry_b-body blockquote,
		.b-blog-entry .b-blog-entry_b-body q {
			font-style: italic;
			color: #9abb44;
			background: rgba(0, 0, 0, 0.3);
		}

	.b-blog-entry .b-blog-entry_b-info {
		padding: 3px 10px 4px 10px;
		border: 1px solid #ddd;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 0.65em;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
	}

		.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control {}

			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control .js-favorite-button,
			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control .js-rate-up-button,
			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control .js-rate-down-button {
				text-decoration: none;
			}

			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control img,
			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control span,
			.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-control strong {
				vertical-align: middle;
			}

		.b-blog-entry .b-blog-entry_b-info .b-blog-entry_b-info_b-link {
			float: right;
			vertical-align: middle;
		}

.b-blog-entry.m-hide {
}
	.b-blog-entry.m-hide .b-blog-entry_b-header {}

		.b-blog-entry.m-hide .b-blog-entry_b-header img {
			opacity: .6;
		}

		.b-blog-entry.m-hide .b-blog-entry_b-header a:link,
		.b-blog-entry.m-hide .b-blog-entry_b-header a:visited {
			color: #aaa;
			text-decoration: line-through;
		}

		.b-blog-entry.m-hide .b-blog-entry_b-header a:hover {
			text-decoration: line-through;
		}

	.b-blog-entry.m-hide .b-blog-entry_b-body {
	}

	.b-blog-entry.m-hide .b-blog-entry_b-info {
	}

.b-post-added-notify {
	display: none;
	width: 600px;
	margin: 0 auto 16px auto;
	padding: 0 10px;
	background: #FFB975;
	text-shadow: 1px 1px 0px #444;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 2em;
	font-size: 0.7em;
	color: #fff;
}

	.b-post-added-notify a:link,
	.b-post-added-notify a:visited,
	.b-post-added-notify a:hover {
		color: #fff;
	}

.b-comment {
	width: 560px;
	margin: 2px auto;
	padding: 5px 10px;
    background: rgba(0, 0, 0, .2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 0.7em;
}

	.b-comment.m-selected {
		border: 1px solid #bbb;
	}

	.b-comment.m-new {
    background: rgba(0, 0, 0, .3);
	}

	.b-comment.m-tip {
        background: rgba(50, 50, 50, .8);
		-moz-box-shadow: 0 0 10px #666;
		-webkit-box-shadow: 0 0 10px #666;
		-o-box-shadow: 0 0 10px #666;
		box-shadow: 0 0 10px #666;
	}

	.b-comment.m-post-preview {
		background: rgba(0, 0, 0, 0.7);
	}

	.b-comment .b-comment_b-info {
	    color: #fff;
	}

	.b-comment .b-comment_b-body {
		font-size: 1.1em;
		line-height: 1.3em;
		padding: 8px 0 5px 0;
		color: #fff;
	}

		.b-comment .b-comment_b-body h1 {
			font-size: 1.3em;
			font-weight: normal;
		}

		.b-comment .b-comment_b-body h2 {
			font-size: 1.25em;
			font-weight: normal;
		}

		.b-comment .b-comment_b-body h3 {
			font-size: 1.2em;
			font-weight: normal;
		}

		.b-comment .b-comment_b-body h4 {
			font-size: 1.15em;
			font-weight: normal;
		}

		.b-comment .b-comment_b-body h5 {
			font-size: 1.1em;
			font-weight: normal;
		}

		.b-comment .b-comment_b-body p {
			padding: 0;
			margin: 2px 0;
		}

		.b-comment .b-comment_b-body blockquote {
			padding: 2px 0;
			margin: 0 0 0 10px;
			color: #9abb44;
			background: rgba(0, 0, 0, 0.3);
		}

		.b-comment .b-comment_b-body blockquote,
		.b-comment .b-comment_b-body q {
			font-style: italic;
			color: #789922;
		}

.b-post-statistics {
	width: 560px;
	margin: 2px auto;
	padding: 5px 10px;
    background: rgba(0, 0, 0, .5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.7em;
	color: #888;
}

	.b-post-statistics .b-post-statistics_m-right {
		float: right;
	}

.b-search-statistics {
	width: 600px;
	margin: 15px auto;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.7em;
	color: #888;
}

	.b-search-statistics .b-search-statistics_m-right {
		float: right;
	}

.b-comment-form {
	width: 560px;
	margin: 10px auto 5px auto;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.7em;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

	.b-comment-form .b-comment-form_b-helplink {
		float: right;
	}

	.b-comment-form textarea {
		clear: both;
		width: 100%;
		margin: 8px 0;
		border: 1px solid #999;
	}

	.b-comment-form .b-comment-form_b-captcha {
		clear: both;
	}

		.b-comment-form .b-comment-form_b-captcha img {
			vertical-align: middle;
			margin-right: 15px;
		}

		.b-comment-form .b-comment-form_b-captcha input {
			width: 160px;
			font-size: 21px;
			vertical-align: middle;
			border: 1px solid #999;
		}

	.b-comment-form .b-comment-form_b-uplink {
		float: right;
	}

.b-paginator {
	width: 610px;
	height: 25px;
	margin: 15px auto 0 auto;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

	.b-paginator ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.7em;
		vertical-align: bottom;
	}

		.b-paginator ul li {
			text-align: center;
			float: left;
			width: 29px;
			padding: 5px 0;
			margin: 0;
		}

			.b-paginator ul li u {
				color: #ff5a00;
			}

		.b-paginator ul li.b-paginator_b-control a {
			text-decoration: none;
		}

.b-blog-form {
	width: 600px;
	margin: 0px auto 5px auto;
	color: #fff;
}

	.b-blog-form .b-blog-form_b-error {
		padding: 0 10px;
		background: #FFB975;
		text-shadow: 1px 1px 0px #444;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		line-height: 2em;
		font-size: 0.7em;
		color: #fff;
	}

	.b-blog-form .b-blog-form_b-info {
		padding: 0 10px;
		margin-bottom: 5px;
		background: #aaa;
		text-shadow: 0px 0px 1px #444;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		line-height: 2em;
		font-size: 0.7em;
		color: #fff;
	}

	.b-blog-form h1 {
		font-weight: normal;
		font-size: 1.5em;
		padding: 0;
		margin: 0 0 10px 0
	}

	.b-blog-form .b-blog-form_b-form {
		padding: 10px 5px;
		margin: 10px 0;
		border: 1px solid #ddd;
	    background: rgba(0, 0, 0, 0.5);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.b-blog-form .b-blog-form_b-form_b-field {
		clear: both;
		width: 560px;
		margin: 0 auto;
		padding: 15px 0 0 20px;
		font-size: 0.7em;
	}

		.b-blog-form .b-blog-form_b-form_b-field .b-blog-form_b-form_b-field_b-header-link {
			font-size: 1.4em;
		}

		.b-blog-form .b-blog-form_b-form_b-field h2 {
			padding: 0;
			margin: 0 0 5px 0;
			font-weight: normal;
			font-size: 1.5em;
		}

		.b-blog-form .b-blog-form_b-form_b-field em {
			font-size: 0.9em;
		}

		.b-blog-form .b-blog-form_b-form_b-field input[type=text] {
			width: 530px;
			font-size: 1.4em;
		}

		.b-blog-form .b-blog-form_b-form_b-field label {
			font-style:italic;
		}

		.b-blog-form .b-blog-form_b-form_b-field textarea {
			width: 530px;
			margin-bottom: 4px;
			border: 1px solid #999;
		}

.b-live-panel {
	width: 100%;
	margin-bottom: 15px;
}

	.b-live-panel ul {
		width: 100%;
		list-style: none;
		padding: 0 8px;
		margin: 10px 0 0 0;
	}

		.b-live-panel ul li {
			float: left;
			margin: 0 1px 0 0;
			padding: 0;
			line-height: 40px;
			text-align: center;
			font-size: 0.7em;
			text-shadow: 1px 1px 2px #ddd;
		}

			.b-live-panel ul li img {
				vertical-align: middle;
				margin-right: 3px;
			}

			.b-live-panel ul li a:link,
			.b-live-panel ul li a:visited,
			.b-live-panel ul li a:hover {
				color: #fff;
			}

			.b-live-panel ul li a.g-dynamic:link,
			.b-live-panel ul li a.g-dynamic:visited {
				border-bottom: 1px dashed #999;
			}

		.b-live-panel ul li.b-live-panel_b-link {
			width: 180px;
	        background: rgba(0, 0, 0, 0.6);
			text-align: center;
			-webkit-border-radius: 20px 0 0 20px;
			-moz-border-radius: 20px 0 0 20px;
			border-radius: 20px 0 0 20px;
		}

			.b-live-panel ul li.b-live-panel_b-link input {
				width: 145px;
				padding: 0 5px;
				font-size: 18px;
				border: 1px solid #ddd;
				color: #222;
	            background: rgba(255, 255, 255, 0.6);
			}

		.b-live-panel ul li.b-live-panel_b-description {
			width: 485px;
	        background: rgba(0, 0, 0, 0.6);
			text-align: center;
			-webkit-border-radius: 0 20px 20px 0;
			-moz-border-radius: 0 20px 20px 0;
			border-radius: 0 20px 20px 0;
		}
			.b-live-panel ul li.b-live-panel_b-description input[type=text] {
				width: 420px;
				padding: 0 5px;
				font-size: 18px;
				border: 1px solid #ddd;
	            background: rgba(255, 255, 255, 0.6);
				color: #222;
			}

			.b-live-panel ul li.b-live-panel_b-description input[type=submit] {
				cursor: pointer;
				background: url(../ico/go.png) no-repeat top center;
				margin-left: 5px;
				width: 16px;
				height: 16px;
				border: none;
			}

	.b-live-panel .b-live-panel_b-submenu {
		width: 570px;
		clear: both;
		padding: 0 5px;
		margin:  0 auto;
		line-height: 23px;
		font-size: 0.65em;
		text-align: center;
	    background: rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
	}

		.b-live-panel .b-live-panel_b-submenu img {
			vertical-align: middle;
			margin-right: 3px;
		}

		.b-live-panel .b-live-panel_b-submenu input[type=checkbox] {
			width: 16px;
			height: 16px;
			vertical-align: middle;
		}

		.b-live-panel .b-live-panel_b-submenu input[type=submit] {
			cursor: pointer;
			background: url(../ico/reload.png) no-repeat top center;
			margin-left: 10px;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			border: 0;
		}


.b-live_b-error {
	width: 600px;
	margin: 0 auto 10px auto;
	padding: 0 10px;
	background: #FFB975;
	text-shadow: 1px 1px 0px #444;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 2em;
	font-size: 0.7em;
	color: #fff;
}

.b-live-entry {
	width: 620px;
	min-height: 30px;
	margin: 0 auto 5px auto;
	padding: 2px 1px 5px 1px;
}

	.b-live-entry a.b-live-entry_b-description:link,
	.b-live-entry a.b-live-entry_b-description:visited {
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		text-decoration: underline;
		vertical-align: middle;
	}

	.b-live-entry a.b-live-entry_b-description:visited {
		color: #aaa;
	}

	.b-live-entry a.b-live-entry_b-description:hover {
		text-decoration: none;
	}

	.b-live-entry a.b-live-entry_b-board:link,
	.b-live-entry a.b-live-entry_b-board:visited {
		color: #fff;
		text-shadow: 1px 1px 0 #000;
	}

	.b-live-entry a.b-live-entry_b-board:hover {
		text-decoration: none;
	}

	.b-live-entry .b-live-entry_b-clicks {
		color: #ddd;
		font-size: 0.7em;
		white-space: nowrap;
	}


.b-chat-panel {
	width: 100%;
	margin-bottom: 15px;
}

	.b-chat-panel ul {
		width: 100%;
		list-style: none;
		padding: 0 8px;
		margin: 10px 0 0 0;
	}

		.b-chat-panel ul li {
			float: left;
			margin: 0 1px 0 0;
			padding: 0;
			line-height: 40px;
			text-align: center;
			font-size: 0.7em;
		}

			.b-chat-panel ul li img {
				vertical-align: middle;
				margin-right: 3px;
			}

			.b-chat-panel ul li a:link,
			.b-chat-panel ul li a:visited,
			.b-chat-panel ul li a:hover {
				color: #fff;
			}

			.b-chat-panel ul li a.g-dynamic:link,
			.b-chat-panel ul li a.g-dynamic:visited {
				border-bottom: 1px dashed #fff;
			}

		.b-chat-panel ul li.b-chat-panel_b-add-room {
			width: 220px;
	        background: rgba(0, 0, 0, 0.4);
			-webkit-border-radius: 20px 0 0 20px;
			-moz-border-radius: 20px 0 0 20px;
			border-radius: 20px 0 0 20px;
		}

		.b-chat-panel ul li.b-chat-panel_b-all {
			width: 220px;
	        background: rgba(0, 0, 0, 0.4);
		}

		.b-chat-panel ul li.b-chat-panel_b-common {
			width: 220px;
	        background: rgba(0, 0, 0, 0.4);
			-webkit-border-radius: 0 20px 20px 0;
			-moz-border-radius: 0 20px 20px 0;
			border-radius: 0 20px 20px 0;
		}

		.b-chat-panel ul li.b-chat-panel_m-active {
	        background: rgba(0, 0, 0, 0.6);
			text-shadow: 1px 1px 1px #000;
		}

			.b-chat-panel ul li.b-chat-panel_m-active a:link,
			.b-chat-panel ul li.b-chat-panel_m-active a:visited,
			.b-chat-panel ul li.b-chat-panel_m-active a:hover {
				color: #fff;
				text-decoration: none;
			}

			.b-chat-panel ul li.b-chat-panel_m-active a.g-dynamic:link,
			.b-chat-panel ul li.b-chat-panel_m-active a.g-dynamic:visited {
				border-bottom: 1px solid transparent;
			}

		.b-chat-panel ul li.b-chat-panel_b-add-room.b-chat-panel_m-active {
	        background: rgba(0, 0, 0, 0.6);
		}

.b-chat-added-notify {
	display: none;
	width: 600px;
	margin: 0 auto 16px auto;
	padding: 0 10px;
	background: #FFB975;
	text-shadow: 1px 1px 0px #444;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	line-height: 2em;
	font-size: 0.7em;
	color: #fff;
}

	.b-chat-added-notify a:link,
	.b-chat-added-notify a:visited,
	.b-chat-added-notify a:hover {
		color: #fff;
	}

.b-chat-rooms {
	width: 600px;
	margin: 0 0 0 35px;
}

	.js-favchatlist {
		width: 100%;
		min-height: 50px;
	}

	.js-allchatlist {
		width: 100%;
		min-height: 50px;
	}

	.b-chat-rooms_b-chat-group {
		font-size: 0.9em;
		text-shadow: 1px 1px 1px #000;
		border-bottom: 1px solid #ddd;
		margin: 0 0 15px 0;
		clear: both;
	}
		a.b-chat-rooms_b-chat-group_b-add-hidden:link,
		a.b-chat-rooms_b-chat-group_b-add-hidden:visited,
		a.b-chat-rooms_b-chat-group_b-add-hidden:hover {
			font-size: 0.7em;
			float: right;
			vertical-align: middle;
		}

	.b-chat-rooms_b-empty {
		position: relative;
		top: 25px;
		text-align: center;
		font-style: italic;
		font-size: 0.7em;
	}

	.b-chat-rooms_b-room {
		width: 288px;
		height: 75px;
		float: left;
		margin: 0;
		font-size: 0.8em;
		border: 1px solid transparent;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 5px;
	}


	.b-chat-rooms_b-room:hover {
		background: rgba(0, 0, 0, 0.5);
		border: 1px solid #ddd;
	}

	.b-chat-rooms_b-room.ui-sortable-helper {
		background: rgba(0, 0, 0, 0.5);
		border: 1px solid #bbf;
	}

		.b-chat-rooms_b-room_b-header {

		}
			.b-chat-rooms_b-room_b-header img {
				vertical-align: middle;
			}

			.b-chat-rooms_b-room_b-header a:link,
			.b-chat-rooms_b-room_b-header a:visited,
			.b-chat-rooms_b-room_b-header a:hover {
				vertical-align: middle;
				color: #ff5a00;
			}

		.b-chat-rooms_b-room_b-info {
			font-size: 0.8em;
			color: #eee;
		}

		.b-chat-rooms_b-room_b-description {
			font-size: 0.8em;
		}

			.b-chat-rooms_b-room_b-description p {
				padding: 2px 0;
				margin: 0;
			}

.b-chat {
	width: 630px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	.b-chat_b-header {
		width: 100%;
	}

		.b-chat_b-header_b-title {
			width: 300px;
			float: left;
			font-size: 1em;
			line-height: 24px;
			text-shadow: 1px 1px 1px #000;
		}

		.b-chat_b-header_b-statistics {
			width: 300px;
			float: right;
			text-align: right;
			font-style: italic;
			font-size: 0.7em;
			line-height: 24px;
		}

	.b-chat_b-messages {
		width: 100%;
		overflow: auto;
		background: rgba(0, 0, 0, .3);
		border: 1px solid #ddd;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		height: 500px;
		margin: 0 0 10px 0;
		padding: 5px 0;
	}

		.b-chat_b-message {
			padding: 2px 15px;
			font-size: 0.7em;
		}

			.b-chat_b-message_b-link {}

			.b-chat_b-message_b-date {
				float: right;
				color: #aaa;
			}

			.b-chat_b-message_b-body {
				clear: both;
			}

				.b-chat_b-message_b-body p {
					padding: 2px 0;
					margin: 0;
				}
				.b-chat_b-message_b-body h1 {
					font-size: 1.3em;
					font-weight: normal;
				}

				.b-chat_b-message_b-body h2 {
					font-size: 1.25em;
					font-weight: normal;
				}

				.b-chat_b-message_b-body h3 {
					font-size: 1.2em;
					font-weight: normal;
				}

				.b-chat_b-message_b-body h4 {
					font-size: 1.15em;
					font-weight: normal;
				}

				.b-chat_b-message_b-body h5 {
					font-size: 1.1em;
					font-weight: normal;
				}

				.b-chat_b-message_b-body blockquote {
					padding: 2px 0;
					margin: 0 0 0 10px;
				}

				.b-chat_b-message_b-body blockquote,
				.b-chat_b-message_b-body q {
					font-style: italic;
					color: #789922;
					background: rgba(0, 0, 0, .3);
				}


		.b-chat_b-message.m-info {
			margin: 5px 10px;
			padding: 5px 15px;
			background: rgba(0, 0, 0, 0.4);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid #ddd;
		}

		.b-chat_b-message.m-error {
			margin: 5px 10px;
			padding: 5px 15px;
			background: rgba(0, 0, 0, 0.4);
			color: red;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid #ddd;
		}

	.b-chat_b-messages.m-log {
	    max-height: 2000px;
	    overflow: auto;
	    height: auto;
	}
	
	.b-chat_b-form {
	}

		.b-chat_b-form textarea {
			width: 625px;
			clear: both;
			background: rgba(0, 0, 0, .3);
			color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid #ddd;
		}

.b-static {
	width: 600px;
	margin: 10px auto 5px auto;
	font-size: 0.75em;
}
	.b-static h1 {
		font-weight: normal;
		font-size: 1.7em;
	}

	.b-static h2 {
		font-weight: normal;
		font-size: 1.5em;
	}

	.b-static ul {
		list-style: none;
		padding: 0;
		margin: 0 0 20px 15px;
	}
		.b-static ul li {
			padding: 0;
			margin: 0 0 5px 0;
		}

.b-underlinks {
	position: absolute;
	right: 20px;
	font-size: 0.6em;
	padding: 12px 0 0 0;
}

	.b-underlinks a:link,
	.b-underlinks a:visited,
	.b-underlinks a:hover {
		vertical-align: middle;
		color: #bbb;
	}

	.b-underlinks img {
		vertical-align: middle;
	}

.b-footer-imgboards {
	float: left;
	width: 200px;
	padding: 0 0 0 20px;
}

	.b-footer-imgboards h2 {
		padding-top: 7px;
		margin-top: 0;
		font-weight: normal;
		font-size: 1.1em;
		color: #fff;
	}

	.b-footer-imgboards ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 15px;
		font-size: 0.7em;
	}

		.b-footer-imgboards ul li {
			margin-bottom: 7px;
		}

		.b-footer-imgboards ul img {
			vertical-align: middle;
		}

		.b-footer-imgboards ul a:link,
		.b-footer-imgboards ul a:visited,
		.b-footer-imgboards ul a:hover {
			color: #fff;
		}

.b-footer-services {
	float: left;
	width: 200px;
}

	.b-footer-services h2 {
		padding-top: 7px;
		margin-top: 0;
		font-weight: normal;
		font-size: 1.1em;
		color: #fff;
	}

	.b-footer-services ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 15px;
		font-size: 0.7em;
	}

		.b-footer-services ul li {
			margin-bottom: 7px;
		}

		.b-footer-services ul img {
			vertical-align: middle;
		}

		.b-footer-services ul a:link,
		.b-footer-services ul a:visited,
		.b-footer-services ul a:hover {
			color: #fff;
		}

.b-footer-copyrights {
	padding: 37px 0 0 0;
	font-size: 0.65em;
	text-align: center;
	color: #fff;
}

		.b-footer-copyrights a:link,
		.b-footer-copyrights a:visited,
		.b-footer-copyrights a:hover {
			color: #fff;
		}

.b-mod-toolbar {
	position: absolute;
	z-index: 999;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
	-o-box-shadow: 0 0 10px #666;
	box-shadow: 0 0 10px #666;
	height: 20px;
	padding: 2px;
}
